@model Ensino.Web.Models.Instituicao

@{
    ViewBag.Title = "Instituição";
}

    <h2>Detalhes Instituição</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Ediar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
